<!-- Footer -->
<footer class="footer">
    <div class="container text-center">
        <p class="text">
            <%= link_to "Contact", contact_path %> |
            &copy; <%= Time.current.year %> Mentorship Matchmaker. By Mama Tech | All Rights Reserved. | 
            <a href="<%= privacy_policy_path %>">Privacy Policy</a> |
            <a href="<%= terms_path %>">Terms of Service</a>
        </p>
    </div>
</footer>